/* Fonts:
Montserrat
Josefin Sans
Prompt 
*/

body {
  font-family: montserrat;
  font-weight: 100;
  margin-left: 100px;
}
@font-face {
  font-family: "montserrat";
  src: url(fonts/Montserrat-Medium.ttf);
  font-style: normal;
  font-weight: 100;
}
/* ===============
  Navbar 
   =============== */
.navbar {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.navbar > div {
  margin: 10px;
}
.navbar > div > a {
  text-decoration: none;
}
.navbar > div > a:active {
  color: red;
}
/* ===============
  Main 
   =============== */
.introText > p {
  font-size: 50px;
}
/* ===============
  Footer 
   =============== */
.footer {
  position: fixed;

  right: 2em;
  bottom: 2em;
}
.footer > div > a {
  text-decoration: none;
}
/* ===============
  Responsive/@media 
   =============== */
@media (max-width: 1000px){
  body{
    margin-left:20px;
  }
  .introText > p {
    font-size: 40px;
  }
}