/* Colors:
#000000 background
#FFFFFF default text color
#E5E5E5 sub text color
#14213D background focus
#FCA311 highlight color
*/
/* Fonts:
Montserrat
Josefin Sans
Prompt 
*/

body {
  background-color: #000000;
  font-family: montserrat;
  font-weight: 100;
  color: #ffffff;
  margin-left: 100px;
}
@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat-Medium.ttf);
  font-style: normal;
  font-weight: 100;
}
/* ===============
  Navbar 
   =============== */
.navbar {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.navbar > div {
  margin: 10px;
}
.navbar > div > a {
  color: #E5E5E5;
  text-decoration: none;
}
.navbar > div > a:active {
  color: #ffffff;
}
/* ===============
  Main 
   =============== */
.contactInput > form > div{
  margin: 2em;
}
.formInput{
  margin-top: 5px;
  background-color:#000000;
  border: 1px solid #E5E5E5;
  color: #ffffff;
}
.choice{
  padding: 5px;
}
/* ===============
  Footer 
   =============== */
.footer {
  position: fixed;
  right: 2em;
  bottom: 2em;
}
.footer > div > a {
  color: #E5E5E5;
  text-decoration: none;
}
