
/* Colors:
#000000 background
#FFFFFF default text color
#E5E5E5 sub text color
#14213D background focus
#FCA311 highlight color
*/
/* Fonts:
Montserrat
Josefin Sans
Prompt 
*/
body {
    background-color: #000000;
    font-family: montserrat;
    font-weight: 100;
    color: #ffffff;
    margin-left: 100px;
}
@font-face {
    font-family: "montserrat";
    src: url(../fonts/Montserrat-Medium.ttf);
    font-style: normal;
    font-weight: 100;
}
/* ===============
    Navbar 
   =============== */
.navbar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.navbar > div {
    margin: 10px;
}
.navbar > div > a {
    color: #E5E5E5;
    text-decoration: none;
}
.navbar > div > a:hover {
    color: #FCA311;
}
/* ===============
    Main 
   =============== */
main{
    margin-right: 200px;
    display: grid;
    grid-template-columns: 50% 20%;
    grid-column-gap: 1em;
    
}
.article{
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 1em;
}
.side-article{
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 1em;
    justify-content: right;
}
.date{
    color:#FCA311;
}
.continue-button{
    text-decoration: none;
    color: #FFFFFF;
}
.continue-button:hover{
    color: #FCA311;
}
/* ===============
    Footer 
   =============== */
.footer {
    position: fixed;

    right: 2em;
    bottom: 2em;
}
.footer > div > a {
    color: #E5E5E5;
    text-decoration: none;
}